@use "../../styles/partials/typography" as *;
@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/global" as *;
@use "../../Styles/partials/mixins" as *;

.light-project {
  margin-top: 5vw;
  padding: 0 5vw;

  @include tablet {
    display: flex;
  }

  &__container {
    @include tablet {
      padding: 1vw 0;
      width: 59%;
    }
  }
  &__project-title--button {
    padding: 2vw 3vw;
    margin: 2vw 2vw 2vw 0;
    background: none;
    border: 0.5vw solid $Black;
    border-radius: 27px;
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    line-height: 4vw;
    color: $Black;

    @include tablet {
      margin: unset;
      padding: 1vw 2vw;
    }
  }

  &__heading {
    color: $Black;
    font-family: Tusk;
    font-size: 33vw;
    font-weight: 400;
    line-height: 33vw;
    letter-spacing: 0.01em;
    top: 5vh;
    margin: 2rem 0rem;
    padding-top: 20vw;
    @include tablet {
      width: unset;
      font-size: 16vw;
      line-height: 16vw;
      letter-spacing: 0.06em;

      position: sticky;
      top: 10vw;
      padding: 20px 20px 0 0;
      transition: transform 0.3s ease-in-out;
      transform: translateY(0);
      z-index: 999;
    }

    &--container {
      margin: 2rem 0rem;
      padding-top: 1vw;
    }
  }

  &__img {
    width: 50vw;
    height: 50vw;
    border: 0.2vw solid $Black;
    border-radius: 50%;
    padding: 1vw;

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__project-title {
    color: $Black;
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 600;
    font-size: 7vw;
    line-height: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      font-size: 5vw;
      line-height: 5vw;
    }
  }

  &__project-role {
    color: black;
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 500;
    font-size: 5vw;
    line-height: 4vw;
    @include tablet {
      font-size: 3vw;
      line-height: 3vw;
    }
  }
  &__containers {
    margin: 3rem 0;
  }
  &__project-date {
    color: $Black;
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    line-height: 4vw;

    @include tablet {
      font-size: 2vw;
      line-height: 2vw;
    }
  }
  &__project-summary {
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    line-height: 4vw;
    color: $Black;
    margin: 2vw 0;

    @include tablet {
      font-size: 2.5vw;
    }
  }
  &__project-stack {
    padding: 2vw 3vw;
    margin: 2vw 2vw 2vw 0;
    background: rgba(217, 217, 217, 0.2);
    border: 0.5vw solid black;
    border-radius: 27px;
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    line-height: 4vw;
    color: $Black;

    @include tablet {
      padding: 1vw 2vw;
      margin: 1vw 1vw 1vw 0;
      font-size: 2vw;
      line-height: 2vw;
    }
  }
  &__img-project {
    height: 50vw;
    border-radius: 0.625rem;
    margin: 5vw 0 10vw 0;

    @include tablet {
      width: 100%;
    }

    &--container {
      display: flex;
      justify-content: center;
    }
  }
}
