@use "../../styles/partials/typography" as *;
@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/global" as *;
@use "../../Styles/partials/mixins" as *;

.light-hero {
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  padding-top: 35vw;
  @include tablet {
    padding-top: 10vw;
  }
  @include desktop {
    padding-top: 10vw;
  }
  &__text {
    @include desktop {
      display: flex;
    }
  }
  &__rightside {
    @include desktop {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__title {
    color: $Black;
    font-family: Migra;
    font-size: 6vw;
    margin: 1rem 0 0 0;
    @include desktop {
      font-size: 3vw;
    }
  }
  &__heading {
    color: $Black;
    width: 100%;
    font-family: Tusk;
    font-size: 33vw;
    font-weight: 400;
    line-height: 33vw;
    letter-spacing: 0.01em;
    margin: 0.8rem 0;
    @include desktop {
      width: unset;
      font-size: 16vw;
      line-height: 16vw;
      letter-spacing: 0.06em;
      margin: 0.8rem 0;
    }
  }
  &__description {
    color: $Black;
    font-family: Neue Montreal;
    font-size: 3vw;
    width: 95%;
    margin: 0 1rem;
    @include desktop {
      font-size: 2.5vw;
      margin: 2rem 1rem 0 1rem;
    }
  }
  &__button--resume {
    border: 0.5vw solid $Black;
    border-radius: 27px;
    background-color: $White;
    margin: 1rem 0;
    width: 35vw;
    height: 15vw;
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 500;
    font-size: 7vw;
    line-height: 7vw;
    text-align: center;
    color: $Black;
    @include desktop {
      width: 24vw;
      height: 7vw;
      font-size: 4vw;
      line-height: 4vw;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: unset;
    }
  }

  &__button--container {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include desktop {
      margin: unset;
      display: none;
    }
  }

  &__software {
    width: 29vw;
    animation: spin 8s linear infinite;
    @include desktop {
      display: none;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &__button {
    border-radius: 50%;
    height: 24vw;
    width: 24vw;
    border: none;
    background: none;
    @include desktop {
      display: none;
    }

    &--text {
      position: relative;
      bottom: 24vw;
      left: 6vw;
      color: white;
      background: black;
      border-radius: 50%;
      height: 18vw;
      width: 18vw;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Neue Montreal;
      font-size: 3vw;
      @include desktop {
        display: none;
      }
    }
  }
  &__title--container {
    @include desktop {
      width: 100%;
    }
  }
  &__button--resume2 {
    display: none;
    border: 0.5vw solid $Black;
    border-radius: 27px;
    margin: 1rem 0;
    width: 35vw;
    height: 15vw;
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 500;
    font-size: 7vw;
    line-height: 7vw;
    text-align: center;
    background-color: $White;
    color: $Black;

    @include desktop {
      width: 24vw;
      height: 7vw;
      font-size: 4vw;
      line-height: 4vw;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: unset;
    }
  }
}
