@use "../../styles/partials/typography" as *;
@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/global" as *;
@use "../../Styles/partials/mixins" as *;

.light-about {
  margin-top: 5vw;
  padding: 0 5vw;
  @include tablet {
    display: flex;
  }

  &__heading {
    color: $Black;
    font-family: Tusk;
    font-size: 33vw;
    font-weight: 400;
    line-height: 33vw;
    letter-spacing: 0.01em;
    top: 5vh;
    margin: 2rem 0rem;
    @include tablet {
      position: sticky;
      top: 49vw;
      transition: transform 0.3s ease-in-out;
      transform: translateY(0);
      z-index: 1;
      width: unset;
      font-size: 16vw;
      line-height: 16vw;
      letter-spacing: 0.04em;
    }

    &--container {
      @include tablet {
        padding-right: 20px;
      }
    }
  }

  &__img {
    width: 50vw;
    height: 50vw;
    border: 0.2vw solid $Black;
    border-radius: 50%;
    padding: 1vw;

    @include tablet {
      width: 25vw;
      height: 25vw;
      padding: unset;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__left--container {
    padding-top: 25vw;
    @include tablet {
      padding-top: unset;
      position: sticky;
      top: 8vw;
      transition: transform 0.3s ease-in-out;
      transform: translateY(0);
      z-index: 1;
    }
  }

  &__job-title {
    color: $Black;
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 600;
    font-size: 7vw;
    line-height: 7vw;
    margin: 2vw 0;
    @include tablet {
      font-size: 4vw;
      line-height: 4vw;
      margin: unset;
      padding: 0.3vw 0;
    }
  }
  &__job-company {
    color: black;
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 500;
    font-size: 5vw;
    line-height: 4vw;
    margin: 2vw 0;
    @include tablet {
      font-size: 2vw;
      line-height: 1vw;
      margin: unset;
    }
  }
  &__job-date {
    color: $Black;
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    line-height: 4vw;
    margin: 2vw 0;
    @include tablet {
      font-size: 2vw;
      line-height: 2vw;
      margin: unset;
    }
  }
  &__job-summary {
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    line-height: 4vw;
    color: $Black;
    margin-bottom: 5vw;
    @include tablet {
      font-size: 2.2vw;
      margin: 2vw 0;
    }
  }
  &__job-containers {
    @include tablet {
      width: 59%;
    }
  }
  &__job-container {
    @include tablet {
      margin: 3vw 0 13vw 0;
    }
  }
}
